<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<XML>
<Utilizador AuthAccessTokenSecretTwitter="wfgr" AuthAccessTokenTwitter="wqr" AuthConsumerKeyTwitter="sdfdgdg" AuthConsumerSecretTwitter="ae" Email="123" Nome="Ze carlos" Password="123" TokenAccessFacebook="sdfg" Username="zecarlos"/>
<Utilizador AuthAccessTokenSecretTwitter="vazio" AuthAccessTokenTwitter="vazio" AuthConsumerKeyTwitter="vazio" AuthConsumerSecretTwitter="vazio" Email="1234" Nome="wewre" Password="1234" TokenAccessFacebook="vazio" Username="wewr"/>
</XML>
