<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<XML>
<Utilizador AuthAccessTokenSecretTwitter="vazio" AuthAccessTokenTwitter="vazio" AuthConsumerKeyTwitter="vazio" AuthConsumerSecretTwitter="vazio" Email="123" Nome="Ze carlos" Password="123" TokenAccessFacebook="vazio" Username="zecarlos"/>
</XML>
